.App {
}

.App-logo {
  height: 10vmin;
}

.App-header {
  height: 10vmin;
  min-height: calc(32px + 2vmin);
  background-color: #282c34;
  margin-bottom: 10pt;
  color: white;
}

.App main {
  margin: 1em;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-logo .title {
  position: top;
  font-size: calc(10px + 2vmin);
}

.navbar ul li {
  list-style: none;
  display: inline;
  font-size: calc(6px + 2vmin);
}

.navbar ul {
  display: inline;
}

.navbar a:link {
  color: #bdccd0;
  text-decoration: none;
}
.navbar a:visited {
  color: #bdccd0;
  text-decoration: none;
}
.navbar a:hover {
  color: #d6f6ff;
  text-decoration: none;
}
.navbar a:active {
  color: #d6f6ff;
  text-decoration: none;
}

.navbar a {
  margin-right: 1em;
  margin-left: 1em;
}

